body {
  font-family: Arial, sans-serif;
  background-color: #478e98;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
